<div class="jumbotron" style="background-image:url(<%= asset_url("slide-overview.jpg") %>)">
    <div class="container">
      <br><br>
      <h1 class="adam">Go ahead with power of crowd</h1></br></br>
      <p><a class="btn btn-custom btn-lg" role="button">Learn more</a></p>    
    </div>
  </div>

  <div class="first_content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Picked Up Project</h1>
          <p><%= image_tag @picked_project.image_url(:thumb).to_s if @picked_project %></p>
        </div>
        <% if @picked_project %>
        <div class="col-md-8 picked_description">
          <%= @picked_project.title %><br>
          <%= @picked_project.goal_price %><br>
          <%= @goal_percentage %><br>
          <%= @picked_project.user.email %><br>
          <%= @picked_project.limit_date %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @goal_percentage.to_i %>" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only"><%= @goal_percentage %>% Complete</span>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
	
	<div class="second_content">
   <div class="container">
   	<div class="row centered-row">
   		<h1 class="copy">Get access to over the borders</h1>
   		<h4 class="h4-subtext">This platform makes you so happy with the authority for going beyond the borders</h4>
   	</div>
   	<hr>
	   	<div class="col-md-8">
	     <div class="row">
	       <div class="col-md-3 centered-col">
	       		<%= image_tag "cat_1st.jpg", :size => '100x100', :class => 'img-circle img-cat' %>
	       </div>
	       <div class="col-md-9 mobile-centering">
					<h3>Test Script</h3>
					<h4 class="h4-subtext">This is the step for my career</h4>
					<p>This is the only test scriptingThis is the only test scriptingThis is the only test scriptingThis is the only test scriptingThis is the only test scripting</p>
	       </div>
	     </div>
	     <div class="row">
	       <div class="col-md-3 centered-col">
	       		<%= image_tag "cat_2nd.jpg", :size => '100x100', :class => 'img-circle img-cat' %>
	       </div>
	       <div class="col-md-9 mobile-centering">
					<h3>Test Script</h3>
					<h4 class="h4-subtext">This is the step for my career</h4>
					<p>This is the only test scriptingThis is the only test scriptingThis is the only test scriptingThis is the only test scriptingThis is the only test scripting</p>
	       </div>
	     </div>
	     <div class="row">
	       <div class="col-md-3 centered-col">
	       		<%= image_tag "cat_1st.jpg", :size => '100x100', :class => 'img-circle img-cat' %>
	       </div>
	       <div class="col-md-9 mobile-centering">
					<h3>Test Script</h3>
					<h4 class="h4-subtext">This is the step for my career</h4>
					<p>This is the only test scriptingThis is the only test scriptingThis is the only test scriptingThis is the only test scriptingThis is the only test scripting</p>
	       </div>
	     </div>
	    </div>
	    <div class="col-md-4 mobile-centering left-bordered-content">
	    	<h1>Test Content</h1>
	    	<p>TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest</p>
	    </div>
   	</div>
  </div>
  

  <div class="third_content">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-8">
  				<h1 class="adam">Good App for my portfolio</h1>
  				<hr class="hr-white">
  				<h3>Good app</h3>
  			</div>
  			<div class="col-md-4">
          <%= image_tag('octocat.png', :class=>"img-responsive") %>
  			</div>
  		</div>
  	</div>
  </div>

  <div class="fourth_content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('cute_pig.jpg', :class=>"img-circle img-responsive img-pig", :size=>'200x200') %>
        </div>
        <div class="col-md-8">
          <h1>Contact with me</h1>
          <h3>This is the app made by Seiji Takahashi</h3>
          <p>If you wanna know my detail work, plz contact throught social accounts.<br>
            Thanks alot lol :)<br>
            timaki.st@GAMIL
          </p>
        </div>
      </div>
    </div>
  </div>

