<div class="jumbotron" style="background-image:url(<%= asset_path "slide-overview.jpg" %>)">
    <div class="container">
      <br><br>
      <h1>Go ahead with power of crowd</h1></br></br>
      <p><a class="btn btn-custom btn-lg" role="button">Learn more</a></p>    
    </div>
  </div>

   <div class="container">
     <div class="row">
       <div class="col-md-4" style="background:black;">
         てすと
       </div>
       <div class="col-md-8" style="background:blue;">
         てすつ
       </div>
     </div>
   </div>
  

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        tetetetetetetetetee
      </div>

      <div class="col-md-9">
        <div class="col-md-4">
          test
        </div>
        <div class="col-md-4">
          test
        </div>
        <div class="col-md-4">
          test
        </div>
        <div class="col-md-4">
          test
        </div>
        <div class="col-md-4">
          test
        </div>
      </div>
    </div>
  </div>


   <div class="container"> 
     <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああ</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
            <div class="col-md-3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああ</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああああ</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>test1</li>
          <li>test2</li>
          <li>test3</li>
        </ul>
      </div>
    </div>
   </div>



   <div class="container-3rd">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         test<br>test<br>test<br>test<br>test<br>
       </div>
     </div>
   </div>
   </div>
   <br><br><br>

<h1>プロジェクト一覧</h1>

<table>
  <thead>
    <tr>
      <th>プロジェクト</th>
      <th>詳細</th>
      <th>目標金額</th>
      <th>開始日</th>
      <th>期日</th>
      <th>現在の価格</th>
      <th>起案</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project %></td>
        <td><%= project.description %></td>
        <td><%= project.goal_price %></td>
        <td><%= project.start_date %></td>
        <td><%= project.limit_date %></td>
        <td><%= project.now_price %></td>
        <td><%= project.user.id %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規プロジェクトを作成', new_project_path %>