<div class="jumbotron" style="background-image:url(<%= asset_url("slide-overview.jpg") %>)">
    <div class="container">
      <br><br>
			<h1>Go ahead with power of crowd</h1></br></br>
			<p>	
  			<%=link_to 'Start Project', new_project_path, :class=>'btn btn-custom btn-lg' %>
			</p>
     </div>
  </div>


   
   <div class="container"> 
     <div class="row">
      <% @picked_projects.each do |p| %>
        <div class="col-md-3">
          <div class="thumbnail project_thumb">
            <%= link_to image_tag(p.image_url(:thumb).to_s), p %>
            <div class="caption">
              <p><%= p.title %></p>
              <p>by <%= p.user.email %></p>
              <p><%= p.description %></p>
              <ul>
                <li>test</li>
                <li>test</li>
              </ul>
              <ul>
                <li>test</li>
                <li>test</li>
              </ul>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
   </div>



   <div class="container-3rd">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         test<br>test<br>test<br>test<br>test<br>
       </div>
     </div>
   </div>
   </div>
   <br><br><br>

<h1>プロジェクト一覧</h1>

<table>
  <thead>
    <tr>
      <div>
        <th>プロジェクト</th>
        <th>詳細</th>
        <th>目標金額</th>
        <th>開始日</th>
        <th>期日</th>
        <th>現在の価格</th>
        <th>起案</th>
        <th></th>
        <th></th>
        <th></th>
      </div>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project %></td>
        <td><%= project.description %></td>
        <td><%= project.goal_price %></td>
        <td><%= project.start_date %></td>
        <td><%= project.limit_date %></td>
        <td><%= project.now_price %></td>
        <td><%= project.user.id %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規プロジェクトを作成', new_project_path %>
