<h1>Listing revenues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Originality</th>
      <th>Confirmed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @revenues.each do |revenue| %>
      <tr>
        <td><%= revenue.title %></td>
        <td><%= revenue.description %></td>
        <td><%= revenue.price %></td>
        <td><%= revenue.originality %></td>
        <td><%= revenue.confirmed %></td>
        <td><%= link_to 'Show', revenue %></td>
        <td><%= link_to 'Edit', edit_project_revenue_path(revenue) %></td>
        <td><%= link_to 'Destroy', revenue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revenue', new_project_revenue_path %>
