<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @revenue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @revenue.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @revenue.price %>
</p>

<p>
  <strong>Originality:</strong>
  <%= @revenue.originality %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @revenue.confirmed %>
</p>

<%= link_to 'Edit', edit_project_revenue_path(@project, @revenue) %> |
<%= link_to 'Back', project_revenues_path(@project) %>
