<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<%= link_to 'Edit', edit_project_activity_path(@project, @activity) %> |
<%= link_to 'Back', project_activities_path(@project) %>
